# 4.6 Combining & Exporting Data

In [15]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [16]:
# loading the new prepared data frames

In [17]:
path = r'c:\Users\graha\Desktop\Career foundry\Chapter 4\Instacart Basket Analysis 09.02.2024'

In [18]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_prods4.5.csv'), index_col = False)

In [19]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_ords4.5.csv'), index_col = False)

###  Step 3

In [20]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_prior.csv'), index_col = False)

In [21]:
#dropping the "Unnamed: 0" column
df_ords = df_ords.drop(columns = ['Unnamed: 0'])

### Step 4

In [22]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [23]:
df_ords_prior.shape

(32434489, 4)

In [24]:
df_ords.shape

(3421083, 6)

In [25]:
df_ords.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

### Step 5

In [26]:
#merging the data
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

### Step 6

In [27]:
Checking the Columns
df_merged_large.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [32]:
#Checking the merge
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [33]:
df_merged_large.shape

(32434489, 10)

### Step 7

In [30]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))