# Task 4.6 Combining & Exporting Data

### Step 3

In [14]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [15]:
#Import the dataframe
path = r'c:\Users\graha\Desktop\Career foundry\Chapter 4\Instacart Basket Analysis 09.02.2024'

In [16]:
orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [23]:
products_checked = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

### Step 4

In [20]:
#Checking the shape and head for deatils and info
orders_products_combined.shape

(32434489, 10)

In [26]:
orders_products_combined.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [25]:
products_checked.shape

(49672, 6)

In [24]:
products_checked.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

##### cleaning the columns up

In [29]:
products_checked = products_checked.drop(columns = ['Unnamed: 0'])

In [30]:
orders_products_combined = orders_products_combined.drop(columns = ['_merge'])

#since i am not sure if we need the rest of the data im not going to drop anymore columns

In [31]:
orders_products_combined.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

In [32]:
products_checked.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [33]:
#double checking to see it was successful and it was, great stuff.

### step 5

##### from the column names there  are only one that is the same on both and that is "product_id"

In [39]:
df_ords_prods_merged = orders_products_combined.merge(products_checked, on = 'product_id', indicator = True)

### Step 6

In [40]:
#checking to see it worked
df_ords_prod_merged.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [41]:
df_ords_prods_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [42]:
df_ords_prods_merged.shape

(32404859, 14)

### Step 7

In [45]:
#I will export to both to pickle and csv because it is good practice.

In [46]:
#Exporting the new data base into Pickle format
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))

In [ ]:
df_ords_prods_merged.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.csv'))

### side note, the pickle file was created very quickly but was larger,
### the csv was smaller but it took many times longer to create.